# Loại bỏ các tệp môi trường ảo Python
venv/
env/
# Loại bỏ các tệp tạm thời của Python
*.pyc
__pycache__/
# Loại bỏ tệp môi trường
.env
# Loại bỏ thư mục model
Model_Here/BERT_Sentiment/
Model_Here/KeyPhraseModel
Model_Here/SynonymsModel/